body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.Axis path,
.Axis line {
    fill: none;
    stroke:  #808080   ;
    shape-rendering: crispEdges;
}

#chart {
  border:solid black 1px;
}